//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts
$font-helveticaneue: 'HelveticaNeue';
$font-helveticaneue-bold: 'HelveticaNeue-Bold';
$font-helveticaneue-light: 'HelveticaNeue-Light';
$font-helvetica-black: 'HelveticaNeue-Black';
$font-helvetica-black-hollow: 'HelveticaNeue-Black-Hollow';


$font-rubik-regular: 'Rubik-Regular';
$font-rubik-light: 'Rubik-Light';
$font-rubik-bold: 'Rubik-Bold';
$font-rubik-black: 'Rubik-Black';

/// @type List
$text-font-stack: $font-rubik-regular 'Rubik-Regular', 'Arial', sans-serif !default;


/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #4868db !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;


// Custom Color
$black: #000;
$white: #fff;
$red-torch: #FE0D20;
$gray-suva: #807F80;
$gray-mercury: #e7e7e7;
$baltic-sea: #2a292b;
$silver-chalice: #A3A2A2;
$gray-cod: #121212;
$baltic-sea-dark: #18171B;
